@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-white;
}

.meteor-text {
  background-image: url('/space-1.webp');
  /* Gox Shadow */
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);
  background-size: cover;
  background-position: center center;
  display: inline-block;
  -webkit-background-clip: text;
  /* For Safari */
  -webkit-text-fill-color: transparent;
  /* For Safari */
  background-clip: text;
  color: transparent;
}

.meteor-login-bg {
  z-index: -1;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(-10%, 5%);
  }

  30% {
    transform: translate(5%, -10%);
  }

  40% {
    transform: translate(-5%, 15%);
  }

  50% {
    transform: translate(-10%, 5%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 10%);
  }

  80% {
    transform: translate(-15%, 0);
  }

  90% {
    transform: translate(10%, 5%);
  }

  100% {
    transform: translate(5%, 0);
  }
}

.full-screen {
  height: calc(100vh - 4rem);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-80;
}

.copy {
  border-radius: 10px;
  background: linear-gradient(145deg, #1c1f23, #21242a);
  box-shadow:
    14px 14px 28px #1c1f23,
    -14px -14px 28px #22252b;
}

/* Taken from https://codepen.io/theDeanH/pen/zBZXLN THanks :p */

.animate-wiggle {
  -webkit-animation: wiggle 3s infinite;
  -moz-animation: wiggle 3s infinite;
  -ms-animation: wiggle 3s infinite;
  animation: wiggle 3s infinite;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(10deg);
  }

  20% {
    -webkit-transform: rotate(-10deg);
  }

  40% {
    -webkit-transform: rotate(20deg);
  }

  60% {
    -webkit-transform: rotate(-5deg);
  }

  80% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  10% {
    -ms-transform: rotate(1deg);
  }

  20% {
    -ms-transform: rotate(-1deg);
  }

  40% {
    -ms-transform: rotate(1.5deg);
  }

  60% {
    -ms-transform: rotate(-5deg);
  }

  80% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
